{% extends 'base.html.twig' %}

{% block body %}
  <div id="auth-forgot-root"
       data-props='{{ {
         routes: {
           home: (path("app_home") is defined ? path("app_home") : "/"),
           login: path("app_login"),
           forgot: path("app_forgot_password_request")
         },
         errorMessages: app.flashes("reset_error")
       }|json_encode|raw }}'></div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('auth') }}
{% endblock %}
