security:
    password_hashers:
        App\Entity\User: 'auto'

    providers:
        env_admin_provider:
            id: App\Security\EnvUserProvider
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email
        chain_provider:
            chain:
                providers: ['env_admin_provider', 'app_user_provider']

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            pattern: ^/
            provider: chain_provider
            form_login:
                login_path: app_login
                check_path: app_login
                default_target_path: admin_app
            logout:
                path: app_logout
                target: /
            remember_me:
                secret: '%kernel.secret%'

    access_control:
        - { path: ^/api/admin, roles: ROLE_ADMIN }
        - { path: ^/admin, roles: ROLE_ADMIN }
